<html>
<head>
    <title>
        Add file
    </title>
</head>
<body>
<a href="/admin/gallery">Add Gallery</a>
<br>
<a href="/admin/sarees">Add Saree</a>
<br>
<a href="/admin/suits">Add Suits</a>
<br>
<a href="/admin/suitings">Add Suitings</a>
<br>
<a href="/admin/readymade">Add Readymade</a>
<br>
<a href="/admin/bari">Add Bari</a>
<br>
<a href="/admin/choonri">Add Choonri</a>
<br>
</body>

</html>