<html>
<head>
    <title>
        Add Details
    </title>
</head>

<body>
<form action="/admin/<%= addTo %>" method="post">
    <input type="text" placeholder="Name" class="center" name="name">
    <br>
    <br>
    <% if((addTo) != "gallery"){ %>
    <input type="number" placeholder="Price" class="center" id="pass" name="price">
    <br>
    <br>
    <input type="number" placeholder="Amount" class="center" id="pass" name="amount">
    <br>
    <br>
    <% } %>
    <input type="text" placeholder="Source" class="center" id="pass" name="source">
    <br>
    <br>
    <button id="btn" class="btn btn-default btn-lg" type="submit">Add</button>
</form>

</body>
</html>