<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    <link rel="stylesheet" type="text/css" href="bbc.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
</head>
<body background="t7.jpg" id="body">


<div id="fb-root">  </div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '208143129655109',
            xfbml      : 'true',
            version    : 'v2.8',
            cookie     : 'true'
        });
        FB.AppEvents.logPageView();
    };
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=208143129655109";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>







<nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Banke Bihari Fashions</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#">Home </a></li>
                <li><a href="#">Gallery</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-hover="dropdown">Clothings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/fashion/readymade">Readymade</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/fashion/suitings">Suitings and shirtings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/fashion/sarees">Sarees</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/fashion/chooni"> Choonri</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/fashion/bari">Bari</a> </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/fashion/suits">Suits</a> </li>
                    </ul>
                </li>

                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li>

                    <div class="fb-like" data-href="https://www.facebook.com/bankebiharichirawa/" data-width="15px" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>

                </li>
            </ul>

            <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="#">Link</a></li>-->
            <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<h2 id ="h2">

    CREATE ACCOUNT AND GET THE LATEST TRENDS
</h2>
<br>
<br>
<br>
<br>
<br>
<h1 id="h1">
    Enter your personal details
</h1>
<br>

    <form action="/register" method="POST" name="form1" >
<input type="text" placeholder="First Name" class="form-control" id="ok" name="name"  required>
<br>
<input type="text" placeholder="Last Name" class="form-control" id="ok" required>
<br>

<input type="text" placeholder="Username" class="form-control" id="ok"  name="username" required>
<br>

<input type="password" placeholder="Password" class="form-control" id="ok" name="password" required>
<br>

<input type="email" placeholder="Email address" class="form-control" id="ok" name="email" required>
<br>

<input type="text" placeholder="Phone Number" class="form-control" id="ok" maxLength="10" minlength="10" name="text1" required>
        <br>
        <input type="text" placeholder="Address" class="form-control" id="ok" name="address" required>

    <br>
    <br>
<div class="container">
    <in class="form-group">
        <label> Birthday</label>
        <br>
    <label>DAY</label>
        <select  >
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
        </select>

        <label>Month</label>
        <select>
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
        </select>

<label>Year</label>
        <select>
            <option>1980</option>
            <option>1981</option>
            <option>1982</option>
            <option>1983</option>
            <option>1984</option>
            <option>1985</option>
            <option>1986</option>
            <option>1987</option>
            <option>1988</option>
            <option>1989</option>
            <option>1990</option>
            <option>1991</option>
            <option>1992</option>
            <option>1993</option>
            <option>1994</option>
            <option>1995</option>
            <option>1996</option>
            <option>1997</option>
            <option>1998</option>
            <option>1999</option>
            <option>2000</option>
            <option>2001</option>
            <option>2002</option>
            <option>2003</option>



        </select>



    <br>
    <br>

<label>Male</label>
        <input type="radio" name="gender" value="MALE" required>
<label>Female</label>
<input type="radio" name="gender" value="FEMALE" required>


<br>
<br>
<button class="btn btn-success btn-lg" id="shift" type="submit" onclick="phonenumber(document.form1.text1)" >Create account</button>

    </in>
</div>

    <!--</form>-->
<!--<form action="/register" method="post">-->

</form>



<% if (b==="0"){ %>


    <h2 id="ejs">
    Email already exists
    </h2>
<% } %>


<% if (b==="1"){ %>

<h2 id="ejs">

    Username already exists
</h2>
<% } %>
<script>
    function phonenumber(inputtxt)
    {
        var phoneno = /^\d{10}$/;
        if(inputtxt.value.match(phoneno))
        {
            return true;
        }
        else
        {
            alert("Not a valid Phone Number");
            return false;
        }
    }
</script>

</body>
</html>