<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>

<% datas.forEach(function(data){%>

<div class="container" id="container">
<div class="row">

<div class="col-lg-4">


<div class="thumbnail">
    <h4>
        <% if(type!="gallery"){%>
            <%= data.name %>
        <%}%>
    </h4>
<img src="<%= data.source%>">
<div class="caption">
    <% if(type!="gallery"){%>
PRICE:<%= data.price %>
<br>
<button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
    <%}%>
</div>
</div>
</div>
</div>
</div>

<% }); %>







<script src="/jquery-3.1.1.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script  type="text/javascript" src="C:\Users\AYUSH\WebstormProjects\ayush\public\ajax.js"></script>

</body>
</html>