<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

    </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="/jquery-3.1.1.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
</head>
<body>


<% if (type==="1"){ %>


    <div class="container" id="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="thumbnail">
                    <img src="/Ready made/rm1.jpeg">
                        <div class="caption">
                            PRICE:
                            <br>
                            <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                        </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="thumbnail">
                    <img src="/Ready made/rm2.jpeg">
                    <div class="caption">
                        PRICE:
                        <br>
                        <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="thumbnail">
                    <img src="/Ready made/rm11.jpeg">
                    <div class="caption">
                        PRICE:
                        <br>
                        <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                    </div>
                </div>
            </div>

        </div>

            <div class="row" >

                <div class="col-lg-4">
                    <div class="thumbnail">
                        <img src="/Ready made/rm4.jpeg">
                        <div class="caption">
                            PRICE:
                            <br>
                            <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="thumbnail">
                        <img src="/Ready made/rm5.jpeg">
                        <div class="caption">
                            PRICE:
                            <br>
                            <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="thumbnail">
                        <img src="/Ready made/rm6.jpeg">
                        <div class="caption">
                            PRICE:
                            <br>
                            <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                        </div>
                    </div>
                </div>

            </div>


                <div class="row">

                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <img src="/Ready made/rm7.jpeg">
                            <div class="caption">
                                PRICE:
                                <br>
                                <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <img src="/Ready made/rm8.jpeg">
                            <div class="caption">
                                PRICE:
                                <br>
                                <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <img src="/Ready made/rm9.jpeg">
                            <div class="caption">
                                PRICE:
                                <br>
                                <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
<% } %>


<% if (type==="2"){ %>


<div class="container" id="container">
    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/bari/b2.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/bari/b3.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/bari/b4.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row" >

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/bari/b5.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/bari/b6.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/bari/b7.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/bari/b8.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/bari/b9.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/bari/b10.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>
</div>
<% } %>




<% if (type==="3"){ %>


<div class="container" id="container">
    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Choonri/c1.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Choonri/c2.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Choonri/c3.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row" >

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Choonri/c4.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                </div>
                <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Choonri/c5.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Choonri/c6.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Choonri/c7.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Choonri/c8.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Choonri/c9.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>
</div>
<% } %>




<% if (type==="4"){ %>


<div class="container" id="container">
    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Sarees/s1.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Sarees/s2.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Sarees/s3.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row" >

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Sarees/s4.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Sarees/s5.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Sarees/s6.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Sarees/s7.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Sarees/s8.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Sarees/s9.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>
</div>
<% } %>




<% if (type==="5"){ %>


<div class="container" id="container">
    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Shirtings/ss1.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Shirtings/ss2.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Shirtings/ss3.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row" >

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Shirtings/ss4.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Shirtings/ss5.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Shirtings/ss6.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Shirtings/ss7.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Shirtings/ss8.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Shirtings/ss9.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>
</div>
<% } %>




<% if (type==="6"){ %>


<div class="container" id="container">
    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Suits/s1.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Suits/s2.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Suits/s3.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row" >

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Suits/s4.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Suits/s5.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Suits/s6.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Suits/s7.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Suits/s8.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="/Suits/s9.jpeg">
                <div class="caption">
                    PRICE:
                    <br>
                    <button id="btn" class="btn btn-default btn-lg" type="submit" >BOOK NOW! </button>
                </div>
            </div>
        </div>

    </div>
</div>
<% } %>







</body>
</html>