<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="bbl.css">
<script type="text/javascript" src="jquery-3.1.1.min.js"></script>
</head>

<body background="bbl.jpg">

<h2 id ="h2">
    LOGIN AND SHOP AT BANKE BIHARI FASHIONS
</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 >
    Enter your login details
</h1>


<form action="/loginned" method="post">


<input type="text" placeholder="Username" class="center" name="username">

<br>
<br>

<input type="password" placeholder="Password" class ="center" id="pass" name="password" >
<br>
<br>
<br>

<button id="btn" class="btn btn-default" type="submit" >LOGIN </button>

</form>


<% if (a==="1"){ %>

<center>

invalid username or password
</center>
<% } %>




</body>
</html>

