


<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>REGISTRATION SUCCESSFUL</title>
<!-- <script type="text/javascript" src="jquery-3.1.1.min.js"></script>
 <link rel="stylesheet" type="text/css" href="bbl.css">-->

</head>


<body>

<h1> THANKS <%= name%> FOR REGISTERING!! </h1>


</body>
</html>



