<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>A Clothing Store</title>
        <link rel="stylesheet" type="text/css" href="bb.css">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">


</head>
<body >



<nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Banke Bihari Fashions</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#">Home </a></li>
                <li><a href="#">Gallery</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clothings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Readymade</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Suitings and shirtings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Sarees</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"> Choonri</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Bari</a> </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Suits</a> </li>
                    </ul>
                </li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="#">Privacy policy</a></li>
            </ul>

            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#">Link</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>





<div id="header">
    <h1 id="h1"  >BANKE BIHARI FASHIONS</h1>
    <h4 align="center" id="pad">(The Name You Can Trust)</h4>
    <br>
    <marquee>RAYMONDS.........................JOCKEY..........................AMUL......................SPARKY JEANS.......................LEVIS.......................PEPE JEANS........................PUMA...................DENIM JEANS..................ARROW SHIRTS</marquee>
</div>



<div id="clicks">
<center  >
    <br>

For Purchasing Goods Create Account !!!!   And   Login !!!!!    ............
</center>
    <br>
    <br>
    <br>

    <p>
    <ul>
        <li>
              DONOT SHARE YOUR LOGIN CREDENTIALS WITH ANYONE
        </li>
    </ul>
    <div class="butt">
    <a href="create" class="btn btn-default" id="create" >CREATE ACCOUNT </a>
 <a href="login" class="btn btn-default" id="login"> LOGIN</a>
    </div>
    </p>
</div>
<br>
<br>
<hr>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>

<br>
<div id="contents">
<p id="range">RANGE OF CLOTHINGS</p>
<br>
<br>
<br>
<br>



<div class="container" >
    <div class="row" id="div">

        <div class="col-lg-4">
            <div class="thumbnail">
            <img src="ready made.jpg">
                <div class="caption">
                    <a href="readymade.html" > EXPLORE FOR READY MADE CLOTHINGS</a>
                </div>
            </div>
        </div>




        <div class="col-lg-4">

                <div class="thumbnail">
    <img src="suiting and shirtings.jpg">
    <div class="caption">
    <a href="suitings.html" > EXPLORE FOR SUITINGS AND SHIRTINGS</a>
        </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="thumbnail">
    <img src="sarees.jpg">
                    <div class="caption">

    <a href="sarees.html" id="saree"> EXPLORE FOR SAREES</a>
            </div>
    </div>
            </div>

    </div>


<br>



<br>
<br>
<br>
<br>
<br>

<div class="row" >


    <div class="col-lg-4">
        <div class="thumbnail">
    <img src="chooni.jpg" class="bi">
            <div class="caption">
    <a href="chooni.html" class="bi" > EXPLORE FOR CHOONRI</a>
    </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="thumbnail">
    <img src="bari-bas.jpg" class="bi">
            <div class="caption">
    <a href="bari.html" class="bi" > EXPLORE FOR BARI</a>
    </div>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="thumbnail">
    <img src="suits.jpg" class="bi" id="suits">
            <div class="caption">
    <a href="suits.html" class="bi" > EXPLORE FOR SUITS</a>
    </div>


</div>
</div>
</div>
</div>
    <br>
    <br>
    <br>
    <hr>

<div class="info" id="about">
    <h2 id="h2">
        Banke Bihari Fashions
    </h2>

<ul>
    <li>  A RENOWNED NAME FOR FASHIONABLE CLOTHING</li>
    <br>

    <li> FIXED PRICE SHOWROOM   </li>
    <br>
    <li> EXCELLENT QUALITY GUARANTEED</li>
    <br>
    <li> READ ALL  <a href="terms.html">TERMS AND CONDITIONS</a> </li>


</ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>



</div>

    <!--<footer class="navbar-default">-->


    <!--</footer>-->

<footer id="contact">


            <p id="names" >
            <hr>
            Contact us :
            <br>
            <br>
            RAMAVTAR BILOTIA (PROPRIETOR)        -  09460734200
            <br>
            <br>
            DINESH KUMAR BILOTIA     -  09414540219
            <br>
            <br>
            MUKESH KUMAR BILOTIA     -
            <br>
            <br>
            SOURABH BILOTIA   -
    <br>
    <br>
    <br>
    ADDRESS:

    BANKE BIHARI FASHIONS ,NEAR KABUTAR KHANA,<BR>
    CHIRAWA,(DIST.)JHUNJHUNU,RAJASTHAN
    <br>
    <br>
    <br>
    Email:bbfashions@gmail.com
    <br>
    <br>
    <br>
    <br>
    WEBSIGHT DESIGNED BY :
    <br>
        RADA DESIGNERS pvt. ltd.
    <br>
    Contact No.<br>
    07705894165<br>
    08504030676
            </p>


</footer>

<!--<script  src="jquery-3.1.1.min.js">-->
<!--</script>-->
<script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script>-->
    <!--$(document).ready(function () {-->
        <!--$('.dropdown-toggle').dropdown();-->
    <!--});-->
<!--</script>-->
</body>
</html>


