<!DOCTYPE html>
<div lang="en" xmlns:fb=" http://www.facebook.com/2008/xfbml ">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
        <meta charset="UTF-8">
        <title>A Clothing Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="bb.css">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
        <meta property="fb:app_id" content="208143129655109" />
        <meta property="og:url"           content="https://www.facebook.com/search/top/?q=banke%20bihari%20fashion" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="A fashion store" />
        <link href="jquery.announcement.css" rel="stylesheet" type="text/css">
        <script src="jquery.announcement.js" type="text/javascript"></script>

    </head>


<div id="fb-root">  </div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '208143129655109',
            xfbml      : 'true',
            version    : 'v2.8',
            cookie     : 'true'
        });
        FB.AppEvents.logPageView();
    };
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=208143129655109";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>







<nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!--< class="navbar-header">-->

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="/">Banke Bihari Fashions</a>-->
                <a href="/" class="navbar-brand"></a>
        <img src="final (1).jpg"  style="margin-left: 44%;
margin-top: 1%;height:150px; width:150px"</img>



        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top: -2%;
margin-left: 26%;">
            <ul class="nav navbar-nav">

                <li ><a href="/">Home </a></li>
                <li><a href="/fashion/gallery">Gallery</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-hover="dropdown">Clothings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/fashion/readymade">Readymade</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/fashion/suitings">Suitings and shirtings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/fashion/sarees">Sarees</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/fashion/chooni"> Choonri</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/fashion/bari">Bari</a> </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/fashion/suits">Suits</a> </li>
                    </ul>
                </li>

                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li>

                <div class="fb-like" data-href="https://www.facebook.com/bankebiharichirawa/" data-width="15px" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>

                </li>
            </ul>

            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#">Link</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>





<div id="header">

    <h1 id="h1"  >BANKE BIHARI FASHIONS</h1>
    <h4 align="center" id="pad">(The Name You Can Trust)</h4>
    <br>
    <!--<marquee>RAYMONDS.........................JOCKEY..........................AMUL......................SPARKY JEANS.......................LEVIS.......................PEPE JEANS........................PUMA...................DENIM JEANS..................ARROW SHIRTS</marquee>-->
</div>



<div id="clicks">
<center>
    <br>

For Purchasing Goods Create Account !!!!   And   Login !!!!!    ............
</center>
    <br>
    <br>
    <br>


    <ul>
        <li>
            <b> DONOT SHARE YOUR LOGIN CREDENTIALS WITH ANYONE</b>

        </li>
    </ul>
    <div class="butt">
    <a href="login" class="btn btn-default" id="login" >LOGIN</a>
    <a href="create" class="btn btn-default" id="create" >CREATE ACCOUNT </a>
    </div>

</div>

<div class ="cb">
<div class="slider">
    <center>
    THIS IS WHAT WE DEAL WITH!
    </center>
    <img class="mySlides" src="slider1.jpg" >
    <img class="mySlides" src="slider2.jpg" >
    <img class="mySlides" src="slider3.jpg" >
    <img class="mySlides" src="slider4.jpg" >
    <img class="mySlides" src="slider5.jpg" >
    <div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:50%">
        <div class="w3-left w3-padding-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-padding-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    </div>
    <center>
        GO AHEAD AND SHOP!!
    </center>
</div>

<br>
<hr>
<br>
<br>
<br>


<div id="contents">
    <p id="range">RANGE OF CLOTHINGS</p>i
    <br>
<br>
<br>
<br>
<div class="container"  id="container">
    <div class="row" id="div">
        <div class="col-lg-3">
            <div class="thumbnail">
            <img src="/Ready made/rm3.jpeg">
                <div class="caption">
                    <a href="/fashion/readymade" > EXPLORE FOR READY MADE CLOTHINGS</a>
                </div>
            </div>
        </div>


        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="/Sarees/s11.jpeg">
                <div class="caption">

                    <a href="/fashion/sarees" id="saree"> EXPLORE FOR SAREES</a>
                </div>
            </div>
        </div>


        <div class="col-lg-3">

                <div class="thumbnail">
    <img src="/Shirtings/ss10.jpeg">
    <div class="caption">
    <a href="/fashion/suitings" > EXPLORE FOR SUITINGS AND SHIRTINGS</a>
        </div>
                </div>
            </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row"  id="row2" >
    <div class="col-lg-3">
        <div class="thumbnail">
    <img src="/Choonri/c6.jpeg" class="bi">
            <div class="caption">
    <a href="/fashion/chooni" class="bi" > EXPLORE FOR CHOONRI</a>
    </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="thumbnail">
    <img src="bari-bas.jpg" class="bi">
            <div class="caption">
    <a href="/fashion/bari" class="bi" > EXPLORE FOR BARI</a>
    </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="thumbnail">
    <img src="suits.jpg" class="bi" id="suits">
            <div class="caption">
    <a href="/fashion/suits" class="bi" > EXPLORE FOR SUITS</a>
    </div>
        </div>
    </div>

</div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <div class="col-lg-3" id="news">
        <div class="thumbnail">
            <div class="caption" id="column" >
                 <center>New Collection</center>
                        <table border="2px">
                            <div class="smartmarquee example">
                        <ul class="container">
                            <li class="elements"> Embroidery sarees from Laxmi collections </li>
                            <li class="elements"> Embroidery sarees from Radhika collections </li>
                            <li class="elements"> Designer sarees from NRC collections </li>
                            <li class="elements"> New range of Raymond shirtings </li>
                            <li class="elements"> New Suits collection from SS cottons. </li>
                            <li class="elements"> Wide range of Bombay Dyeing Bedsheets</li>
                        </ul>
                    </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </table>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>

<div class="info" id="about">
    <h1 ><center id="head1">About us</center></h1>
    <h2 id="h2">
        Banke Bihari Fashions
    </h2>

    <p id="h2">
        Banke Bihari Fashions is a fashionable clothing store which aims to excel in its clothing quality with the moto
        of serving its customers nicely.
        <br>
        It was established in 2015 by <b>Mr.Ramavtar Bilotia</b> .
        <br>

        With only two years of its start ,it has become a name of quality garments among its customers .
        <br>
        The store is known for its multivariety clothings for every class.

    </p>
<ul>
    <b>
    <li>  A RENOWNED NAME FOR FASHIONABLE CLOTHING</li>
    <br>

    <li> FIXED PRICE SHOWROOM   </li>
    <br>
    <li> EXCELLENT QUALITY GUARANTEED</li>
    <br>
    <li> READ ALL  <a href="terms.html">TERMS AND CONDITIONS</a> </li>
<br>
    <li>COLLECT YOUR BILL AFTER EVERY PURCHASE</li>
    </b>
</ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>



</div>

    <!--<footer class="navbar-default">-->


    <!--</footer>-->

<footer id="contact">


            <p id="names" >
            <hr>
    <center id="footer">
            Contact us :
    </center>
            <br>
            <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="thumbnail">
                    <img src="owner modified.jpg">
                    <div class="caption">
                        <center>
                        RAMAVTAR BILOTIA (PROPRIETOR) - 09460734200
                            </center>
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="thumbnail">
                        <img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/1688307_1563796467177040_8746161368536746349_n.jpg?oh=6283d43ffc759537598e161ae7db3a45&oe=59330F57" id="db">
                        <div class="caption">
                            DINESH KUMAR BILOTIA - 09414540219
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="thumbnail">
                        <img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/11053100_136983679966420_106475436686787000_n.jpg?oh=d457e04c7b4fd17d7ce4daf829695af2&oe=5925D9C5">
                        <div class="caption">
                            MUKESH KUMAR BILOTIA -
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="thumbnail">
                        <img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/p843x403/15621973_1281164698617843_6997396390101088330_n.jpg?oh=6b9d9141920ba046627ee754453206f3&oe=596EA27F">
                        <div class="caption">
                            SOURABH BILOTIA -
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <br>
            <br>

            <br>

            <br>
            <br>

    <br>
    <br>
    <br>
    ADDRESS:

    BANKE BIHARI FASHIONS ,NEAR KABUTAR KHANA,<BR>
    CHIRAWA,(DIST.)JHUNJHUNU,RAJASTHAN
    <br>
    <br>
    <br>
    Email:bbfashions@gmail.com
    <br>
    <br>
    <br>
    <br>
    WEBSITE DESIGNED BY :
    <br>
        Ayush Gupta (with support of RAD)
    <br>
        RADA DESIGNERS pvt. ltd.
    <br>
    Contact No.<br>
    07705894165<br>
    08504030676
    <br>
    <br>
    LOGO DESIGNED BY :<br>
    Himank Goel
    (IIT 2016061)
            </p>


</footer>

<!--<script  src="jquery-3.1.1.min.js">-->
<!--</script>-->
<script
        src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="jquery.smartmarquee.js"></script>
<script src="main.js"></script>
<!--<script>-->
    <!--$(document).ready(function () {-->
        <!--$('.dropdown-toggle').dropdown();-->
    <!--});-->
<!--</script>-->

<!--<script src="/frontend.js"></script>-->
</div>
</div>
</body>
</html>


