
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#header{

    background-image:url('divback6.jpg');
    /*background-size: 80px 60px ;*/
    /*background-color: AppWorkspace; */
    padding-top: 50px;
    margin-top: -40px;
    padding-bottom: 428px;
}

#footer{
    font-size: 38px;
    margin-left: -110px;
    padding-bottom: 80px;
}

/* The animation code */
/*@keyframes example {*/
    /*!*0%   {opacity: 0.1;}*!*/
    /*!*25%  {opacity: 0.25;}*!*/
    /*!*50%  {opacity: 0.5;}*!*/
    /*!*100% {opacity: 1;}*!*/

    /*0%{ color:red;}*/
    /*50%{color:yellow;}*/
    /*100%{color:green;}*/

/*}*/

/* The element to apply the animation to */


#h1
{
    /*text-align: center;*/
    /*border-top:  20px solid #bdc3c7 ;*/
    /*border-right:   20px solid #bdc3c7;*/
    /*border-left :20px solid #bdc3c7;*/
    /*border-bottom:  20px solid#bdc3c7;*/
    /*margin-left: 300px;*/
    /*margin-right: 300px;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background-color: red;*/
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: initial;
    text-space: 1px;
    padding-bottom: 13px;


}



#h1{
    text-align:center;

    margin-top: 213px;
    font-size: 70px;

}

#space{

    background-color: #122B40;
    line-height: 2.49px;

}

#facebook{
    color: #122b40;
}

#news{

    margin-left: 1185px;
    margin-top: -1040px;


}

#column{
    height:602px;
    background:url("divback7.jpg");
}


@keyframes news {
    /*0%   {opacity: 0.1;}*/
    /*25%  {opacity: 0.25;}*/
    /*50%  {opacity: 0.5;}*/
    /*100% {opacity: 1;}*/

    100%{color: greenyellow;}

}


.thumbnail .caption {
    padding: 9px;
    color: #333;
    margin-top: 0px;
    /*height: 40px;*/
}

#newsticker {

    animation-name: news;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    line-height: 64px;
}

.butt{
    margin-right: -150px;
    margin-left: 160px;
}

.fb-like{
    margin-top: 15px;
}



center{
    /*font-style: italic;*/
    font-size: 29px;
    font-family: "Baskerville Old Face";
    text-decoration: double;
    /*animation-name: example;*/
    /*animation-duration: 10s;*/
    /*animation-iteration-count: infinite;*/

}

hr{

    color: red;
    /*line-height: 8px;*/
    border-width: 20px;

}

#container{
    margin-left:68px;
    width: 1590px;
}

#row2{

    margin-top: ;
}

marquee{
    color: darkviolet;

    -moz-text-decoration-color: #122b40;
    text-decoration-style: solid;
    margin-bottom: -43px;
    font-size: 17px;
}




#h4{
    margin-top: -16px;
    margin-bottom:50px ;
}


#h2{
    margin-left: 37px;
}


#details{
    margin-top:80%;

}



#login{
    float:left;
    margin-top: -34px;
    margin-left: 1243px;
    background-color: #843534;
    color: white;
}
.btn-default{
    margin-left: 79%;


}

#range{
    text-align: center;
    font-size: 50px;
    /*font-style: italic;*/
    /*text-decoration:underline;*/

    /*text-blink: 2s;*/
    margin-left: -295px;
    font-family: 'Arbutus';
    color: saddlebrown;
}

#head1{
    text-align: center;
    font-size: 50px;
    /*font-style: italic;*/
    /*text-decoration:underline;*/

    /*text-blink: 2s;*/
    margin-left: -10px;
    font-family: 'Arbutus';
    margin-top: -51px;
    padding-bottom: 66px;
    text-transform: uppercase;
}

footer{
    background-color: #122b40;
    color: white;
    padding-bottom: 70px;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 180px;
    opacity: 0.8;
}

/*.dropdown:hover .dropdown-menu {*/
    /*display: block;*/
/*}*/

/*.dropdown{*/
    /*display: none;*/
/*}*/

.smartmarquee {
    position: relative;
    overflow: hidden;
}

/*.smartmarquee .container { position: absolute; }*/

#clicks{
    background-color: #8a6d3b;
    margin-top: -275px;
    padding-bottom: 24px;
    opacity: 0.8;
    color: white;
}

.elements{

    padding-top: 30px;
    font-size: 18px;
}

#contents{
    margin-top: -158px;
    /*background-color: #9D9D9D;*/
    background:url("divback5.jpg") ;
    padding-top: 122px;
    margin-left: 9px;
    color: black;
    opacity: 0.9;
    /*background-size:cover ;*/
    background-size: 100%;
}

#pad{
    margin-top: -16px;
}

body{
         background: snow;
}

div:nth-of-type(1){

}




#h2{
    line-height: 42px;
    /*font-style: italic;*/
    text-blink: 1s;
    font-family: 'Arizonia';
    font-size: 27px;
    padding-bottom: 100px;
}

#saree {
    margin-left: 85px;
}

div:nth-of-type(4){
    float:left;
}




div:nth-of-type(5){
    float: left;
    margin-left: 200px;

}

div:nth-of-type(6){
    float: right;
    margin-left: 300px;

}

.bi{
    width:350px;
    margin-right: 35px;
    margin-left: 44px;
}


img:nth-of-type(1){
    margin-left:45px;
}

img{


    width:1500%;
}

hr{
    height:5px ;
    color:black;
    solid-opacity: 100%;
}

.info{
    background-color: #2a2a2a;
    padding-top: 40px;
    margin-right: 66px;

    color: white;
    opacity: 0.8;
}

#suits{
    margin-right:154px;
}

//G50



button{
    background:none;
}

ul{
    padding-top: 30px;
}

#login:hover {
    color:red;
}

#create:hover {
    color:red;
}



#create{
    background-color: #843534;
    padding-right: 20px;
    margin-left: 1328 px;
    color: white;
}


.col-lg-6{
    padding-left: 50px;
}

#row{

    margin-left: 40px;
}

div:nth-of-type(1) {
    margin-top: 12px;
}

footer {
    padding-top: 20px;
    border-top: 10px solid #332e20;
    padding-left: 75px;
    margin-left: 83px;
    margin-right: 81px;
    margin-top: 200px;
    /*background-color: white;*/
}

#names{
    color:white;
    letter-spacing: 2px;
    padding-left: 5px;
}

#nav{
    padding-top: 44px;
    /*background-color: #122b40;*/
    margin-top: -52px;
    opacity: 0.9;
    background-color: #2a2a2a;
}