html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#body{
    background-size: cover;
    /*margin-left: 125px;*/
    /*margin-top: 100px;*/
}

button{
    background-color: cornflowerblue;
    border-color: brown;
margin-left: 670px;
}


#h2{
    margin-top: 53px;
    margin-left: 250px;
    color: #9D9D9D;
    text-decoration: none #B4B4B4;
    font-size: 43px;
    font-family: "Barrio",cursive;
    padding-bottom: -42px;
    margin-bottom: -33px;
}

#ok{

    width: 30%;
    padding-left: 2%;
    /*text-transform: uppercase;*/
    margin-left:55px;
    color: #2A2A2A;

    /*border-color: #122b40;*/
}

#h1{

    margin-left:40px;
    color: #9d9d9d;
    padding-bottom: 29px;
    margin-top: -6px;
    font-family: 'Barrio', cursive;
}

.btn-success{
    margin-left: 100px;

}

#shift{
    margin-bottom: 200px;
    margin-left: -10px;
    background-color: #122b40;
}

select{
    border-radius: 7px;
}

#ejs{

    color:red;
    margin-top: -15.5%;
    margin-left: 24%;
}

form{
    margin-top: -37px;
}

#nav{
    padding-top: 44px;
    /*margin-top: -115px;*/
    /*margin-left: -126px;*/
    padding-bottom: -6px;
}
.fb-like{
    /*margin-top: 15px;*/
    margin-top: 7%;
}