

#h2{
    margin-top: 111px;
    margin-left: -206px;
    color: #761c19;
    text-decoration: double;
    text-decoration-style: double;
    font-size: 40px;
    font-family: Calibri ;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

center{
    margin-top: 20px;
    margin-left: -182px;
    color: red;
}

input
{
    margin-left: 540px;
    padding-top: 9px;
    padding-left: 91px;
    border-radius: 6px;
    font-size: 19px;
    font-style: oblique;
    border-top: bisque;
}

#btn{
    margin-left: 80px;
    background-color: #e4b9b9;
    border-color: black;
    border-radius: 5px;

}


form {
    margin-left: 618px;
    margin-top: 39px;

}


a{
    color: black;
}
body{
    color: #FFF;
    margin-top: 292px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 60px;
}
#h1{
    margin-left:565px;
    color:black;
    margin-top: 0px;
}

#nav{
    padding-top: 44px;
    /*background-color: #122b40;*/
    margin-top: -11px;
    opacity: 0.9;
}


#main{
    /*background-image:url{'t8.jpg'};*/
    background-image:url('t8.jpg');
    background-size: 100%;
    margin-top: -110px;
    height: 1012px;
}

.fb-like{
    margin-top: 15px;
}
