
#header{

    /*background-image:url('bb.jpg');*/
    /*background-size: 80px 60px ;*/
    background-color: bisque;
    padding-top: 50px;
    margin-top: -40px;
    padding-bottom: 40px;
}


/* The animation code */
@keyframes example {
    /*0%   {opacity: 0.1;}*/
    /*25%  {opacity: 0.25;}*/
    /*50%  {opacity: 0.5;}*/
    /*100% {opacity: 1;}*/

    0%{ color:red;}
    50%{color:yellow;}
    100%{color:green;}

}

/* The element to apply the animation to */


#h1
{
    /*text-align: center;*/
    /*border-top:  20px solid #bdc3c7 ;*/
    /*border-right:   20px solid #bdc3c7;*/
    /*border-left :20px solid #bdc3c7;*/
    /*border-bottom:  20px solid#bdc3c7;*/
    /*margin-left: 300px;*/
    /*margin-right: 300px;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background-color: red;*/
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}



#h1{
    text-align:center;
    color:red;
    margin-top: 50px;
    font-size: 70px;

}

#space{

    background-color: #122B40;
    line-height: 2.49px;

}

#news{

    margin-left: 1185px;
    margin-top: -945px;


}


@keyframes news {
    /*0%   {opacity: 0.1;}*/
    /*25%  {opacity: 0.25;}*/
    /*50%  {opacity: 0.5;}*/
    /*100% {opacity: 1;}*/

    100%{color: greenyellow;}

}


.thumbnail .caption {
    padding: 9px;
    color: #333;
    /*height: 40px;*/
}

#newsf {

    animation-name: news;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    line-height: 64px;
}

.butt{
    margin-right: -150px;
    margin-left: 160px;
}



center{
    font-style: italic;
    font-size: larger;
    font-family: "Baskerville Old Face";
    text-decoration: double;
    /*animation-name: example;*/
    /*animation-duration: 10s;*/
    /*animation-iteration-count: infinite;*/

}

hr{

    color: red;
    /*line-height: 8px;*/
    border-width: 1px;

}

#span{
    float: left;
    padding-top: 17px;
    font-size: 35px;
    margin-top: -16px;
    padding-left: 26px;
    margin-right: 8px;
}
#container{
    margin-left:68px;
    width: 1590px;
}

#row2{

    margin-top: ;
}

marquee{
    color: darkviolet;

    -moz-text-decoration-color: #122b40;
    text-decoration-style: solid;
}
#h4{
    margin-top: -16px;
    margin-bottom:50px ;
}


#h2{
    margin-left: 37px;
}


#details{
    margin-top:80%;

}



#login{
    float:left;
    margin-top: -34px;
    margin-left: 1243px;
    background-color: #843534;
    color: white;
}
.btn-default{
    margin-left: 79%;


}

#range{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    text-decoration:underline;
    color: firebrick;
    /*text-blink: 2s;*/
    margin-left: -295px;
}

footer{
    background-color: #122b40;
    color: white;
    padding-bottom: 70px;
}


#clicks{
    background-color: #e4b9b9;
    margin-top: 0px;
    padding-bottom: 24px;
}

#contents{
    margin-top: -263px;
    background-color: #FCF8E3;
    padding-top: 122px;
    /*background-color: #f0ad4e;*/
}

#pad{
    margin-top: -16px;
}

body{
    background: snow;
}

div:nth-of-type(1){

}




#h2{
    line-height: 42px;
    font-style: italic;
    text-blink: 1s;
}

#saree {
    margin-left: 85px;
}

div:nth-of-type(4){
    float:left;
}




div:nth-of-type(5){
    float: left;
    margin-left: 200px;

}

div:nth-of-type(6){
    float: right;
    margin-left: 300px;

}

.bi{
    width:350px;
    margin-right: 35px;
    margin-left: 44px;
}


img:nth-of-type(1){
    margin-left:45px;
}

img{


    width:1500%;
}

hr{
    height:5px ;
    color:black;
    solid-opacity: 100%;
}

.info{
    background-color: #e4b9b9;
    padding-top: 40px;
    margin-top: 1100px;

}

#suits{
    margin-right:154px;
}

//G50



  button{
      background:none;
  }

ul{
    padding-top: 30px;
}

#login:hover {
    color:red;
}

#create:hover {
    color:red;
}



#create{
    background-color: #843534;
    padding-right: 20px;
    margin-left: 1328 px;
    color: white;
}


.col-lg-6{
    padding-left: 50px;
}

#row{

    margin-left: 40px;
}
footer {
    padding-top: 20px;
    border-top: 10px solid #332e20;
    padding-left: 75px;
    /*background-color: white;*/
}

#names{
    color:white;
    letter-spacing: 2px;
    padding-left: 5px;
}

#nav{
    padding-top: 44px;
    /*background-color: #122b40;*/


}
#trending{
    background-color: white;
    margin-top: 45px;
    /*text-align: center;*/
}

#trending>h2{
    text-align: center;
}